body {
    background: #333;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 2rem;
}

.slider {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.slider input {
    display: none;
}



.slider_images {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 474/349;
}

.slider_images .item_img {
    width: 0vw;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: all 1s;
}

#s0:checked~.slider_images .item_img[data-id="0"],
#s1:checked~.slider_images .item_img[data-id="1"],
#s2:checked~.slider_images .item_img[data-id="2"],
#s3:checked~.slider_images .item_img[data-id="3"] {
    width: 100%;
    height: auto;
    opacity: 1;
}

.slider_images .item_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 474/349;
    border-radius: 2%;
}

.text_and_nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
}

.slider_text {
    display: flex;
    flex-direction: column;
    color: #fff;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.slider_text .text_item {
    height: 0;
    font-size: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
    flex-grow: 1;
    margin-top: 0;
}

#s0:checked~.text_and_nav .slider_text .text_item[data-id="0"],
#s1:checked~.text_and_nav .slider_text .text_item[data-id="1"],
#s2:checked~.text_and_nav .slider_text .text_item[data-id="2"],
#s3:checked~.text_and_nav .slider_text .text_item[data-id="3"] {
    font-size: 1.2rem;
    opacity: 1;
    overflow: auto;
    height: auto;
    margin-top: 0.4rem;
}

.nav_slider {
    display: flex;
    justify-content: flex-end;
    min-width: 9rem;
}

.nav_slider .nav_item {
    display: block;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

.nav_item .circle {
    display: block;
    border: .3rem solid #0a74bb;
    background-color: #0a74bb;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0.4rem 0.4rem 0.5rem;

}

#s0:checked~.text_and_nav label[for="s0"] .circle,
#s1:checked~.text_and_nav label[for="s1"] .circle,
#s2:checked~.text_and_nav label[for="s2"] .circle,
#s3:checked~.text_and_nav label[for="s3"] .circle {
    background-color: transparent;
}

.nav_item:hover .circle {
    border-color: #fff;
    background-color: #fff;
}

.nav_item:active .circle {
    border-color: #a7dcff;
    background-color: #a7dcff;
}

.nav_item.active:hover .circle {
    border: .3rem solid #fff;
    background-color: transparent;
}

@media (max-width:1440px) {
    .slider {
        width: 80%;
    }
}

@media (max-width:960px) {
    .slider {
        width: 100%;
    }
}

@media (max-width:768px) {
    .text_and_nav {
        flex-direction: column-reverse;
    }

    .nav_slider,
    .slider_text {
        width: 100%;
    }

    .nav_slider {
        justify-content: center;
    }

    .slider_text .text_item.active {
        margin-top: 0;
    }

    .nav_item .circle {
        width: 1.4rem;
        height: 1.4rem;
        margin: 0.3rem;
    }
}

@media (max-width:500px) {
    .wrapper {
        margin: 2rem 1rem;
    }
}